.drake
.drake
.drakerc
drake.log
.bash_history
.cache
*.pyc
.python_history
.ipython
.jupyter
.ipynb_checkpoints
.local
.gsutil
.DS_Store
*.csv
*.json
.idea
nodebook_cache
.rstudio/
./R/
*~$*.xlsx
.virtual_documents/
